/* 
    Simple exemple from https://getbootstrap.com/docs/5.0/examples/navbar-fixed/
    Show it is fixed to the top 
*/
html, body {
  height: 100%;
  margin: 0;
}

body {
 /* min-height: 60rem; */
  padding-top: 3.5rem;
  height: 100%;
  margin: 0; /* Supprime les marges par défaut */
}

.full-height { display: flex; flex-direction: column; height: 100%; }

.fill-height { flex-grow: 1; width: 100%; }
